[user]
	name = Drew Silcock
	email = drew.silcock@stfc.ac.uk
	signingkey = B445BCFA63263720
[core]
	editor = mvim -f
	pager = diff-so-fancy | less --tabs=4 -RFX
[alias]
	up = pull --rebase --autostash
	graph = log --graph --date=relative --branches --all
	short-graph = log --graph --oneline --date=relative --branches --all
[commit]
	gpgsign = true
[diff]
	tool = bc3
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
[gpg]
	program = /usr/local/bin/gpg
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
