[user]
	name = Drew Silcock
	email = drew.silcock@stfc.ac.uk
	signingkey = B445BCFA63263720
[core]
	editor = vim -f
[alias]
	up = pull --rebase --autostash
	graph = log --graph --date=relative --branches --all
	short-graph = log --graph --oneline --date=relative --branches --all
[commit]
	gpgsign = true
[diff]
	tool = bc3
[merge]
	tool = bc3
	ff = no
[mergetool "bc3"]
	trustExitCode = true
[gpg]
	program = /opt/homebrew/bin/gpg
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
    syntax-theme = Monokai Extended
    navigate = true
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[init]
	defaultBranch = main

[pull]
	ff = only

[push]
	autoSetupRemote = true
